/* Reset básico para garantir consistência */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilo global do corpo */
body {
    font-family: 'Arial', sans-serif; /* Tipografia limpa */
    background-color: #ffffff; /* Fundo claro */
    color: #000000; /* Texto escuro */
    line-height: 1.6;
    margin: 0 auto; /* Centraliza o conteúdo */
}



/* Cabeçalho */
header {
    background-color: #00253a; /* Azul escuro */
    color: #0f222d; /* Laranja */
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Título do cabeçalho */
header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Descrição do cabeçalho */
header p {
    font-size: 1.2em;
}

/* Estilo das seções principais */
section {
    margin-bottom: 30px;
}

/* Título das seções */
h2 {
    color: #e38929; /* Azul escuro */
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: 600;
    border-bottom: 2px solid #e0e0e0; /* Linha sutil */
    padding-bottom: 10px;
}

/* Estilo do parágrafo */
p {
    margin-bottom: 15px;
    font-size: 1.1em;
}

/* Estilo das listas */
ul {
    list-style-type: none; /* Remove os bullets */
    padding-left: 0;
}

ul li {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

/* Imagem de introdução */
.imagem_introducao {
    width: 100%; /* Faz a imagem ocupar 100% da largura do contêiner */
    max-width: 650px; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Adiciona borda arredondada */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


/* Footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

footer h5, p {
    text-align: left;
    top: 0;
    text-decoration: none;
}

.text-warning{
    color: #e38929 !important;
}

.bg-dark { /* Class do Footer */
    background-color: #0f222d !important;
}